include msgspec_m/*.c
include msgspec_m/*.h
include msgspec_m/*.py
include msgspec_m/*.pyi
include msgspec_m/py.typed
include setup.py
include versioneer.py
include README.md
include LICENSE
include MANIFEST.in
