name: Build and Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "benchmarks/**"
      - "README.rst"
  release:
    types: [published]

jobs:
  lint:
    name: Lint and flake code
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install Dependencies
        run: |
          pip install pytest mypy pyright

      - name: Build Msgspec
        run: |
          pip install -e .

      - name: Run black & flake8
        uses: pre-commit/action@v2.0.0

      - name: mypy
        run: py.test tests/test_mypy.py

      - name: pyright
        run: py.test tests/test_pyright.py

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-10.15, windows-2019]

    env:
      CIBW_TEST_REQUIRES: "pytest msgpack"
      CIBW_TEST_COMMAND: "pytest {project}/tests"
      CIBW_BUILD: "cp38-* cp39-* cp310-*"
      CIBW_SKIP: "*-win32 *_i686 *_s390x *_ppc64le"
      CIBW_ARCHS_MACOS: "x86_64 arm64"
      CIBW_ARCHS_LINUX: "x86_64 aarch64"
      CIBW_TEST_SKIP: "*_arm64 *-musllinux_*"

    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v1
        with:
          platforms: all

      - name: Set up Environment
        if: github.event_name != 'release'
        run: echo 'CIBW_SKIP="${CIBW_SKIP} *-musllinux_* cp38-*_aarch64 cp39-*_aarch64"' >> $GITHUB_ENV

      - name: Build & Test Wheels
        uses: pypa/cibuildwheel@v2.4.0

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        if: github.event_name == 'release' && github.event.action == 'published'
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build Source Distribution
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Build source distribution
        run: python setup.py sdist

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
