name: Build and Test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    paths:
    - "src/msgspec/**"
    - ".github/workflows/ci.yml"
    - ".pre-commit-config.yaml"
    - ".justfile"
    - "pyproject.toml"
    - "setup.py"
  release:
    types:
    - published

jobs:
  validate:
    name: Run static analysis and prepare build
    runs-on: ubuntu-latest

    outputs:
      sdist-name: "${{ steps.build-sdist.outputs.file-name }}"

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Fetch release history
      uses: ./.github/actions/fetch-release-history
      with:
        github-token: "${{ github.token }}"

    - name: Load environment file
      uses: ./.github/actions/load-env

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version-file: pyproject.toml

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install command runner
      run: uv tool install rust-just

    - name: Install static analysis dependencies
      run: just env-sync hooks

    - name: Run hooks
      run: just hooks-check

    - name: Build source distribution
      id: build-sdist
      run: |-
        uv build --sdist
        sdist_name=$(basename dist/*.tar.gz)
        echo "file-name=${sdist_name}" >> $GITHUB_OUTPUT

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: artifact-sdist
        path: dist/${{ steps.build-sdist.outputs.file-name }}
        if-no-files-found: error

  test:
    name: Test Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    needs:
    - validate
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        # - windows-latest
        # - macos-latest
        python-version:
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        # TODO: Enable this once fixed https://github.com/jcrist/msgspec/issues/910
        # - "3.13"
        - "3.14"

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Load environment file
      uses: ./.github/actions/load-env

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version: "${{ matrix.python-version }}"

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install command runner
      run: uv tool install rust-just

    - name: Install testing dependencies
      env:
        MSGSPEC_SANITIZE: "true"
        MSGSPEC_COVERAGE: "true"
      run: just env-sync test

    - name: Run tests with sanitizers
      env:
        PYTHONMALLOC: "malloc"
        ASAN_OPTIONS: "detect_leaks=0"
      run: >-
        LD_PRELOAD=`gcc -print-file-name=libasan.so`
        just env-run test coverage run -m pytest tests/unit -s

    - name: Generate coverage files
      run: |-
        just env-run test coverage xml
        gcov -abcu `find build/temp*/ -name *.o`

    - name: Upload coverage artifacts
      uses: actions/upload-artifact@v5
      with:
        name: coverage-${{ matrix.python-version }}-${{ matrix.os }}
        path: |-
          coverage.xml
          _core.c.gcov
          atof.h.gcov
          ryu.h.gcov
        if-no-files-found: error

  upload-coverage:
    name: Upload coverage files to Codecov
    needs:
    - test
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Download coverage artifacts
      uses: actions/download-artifact@v5
      with:
        pattern: coverage-*
        path: coverage-files

    - name: See the coverage files
      run: tree -sh coverage-files

    - name: Upload Codecov
      uses: codecov/codecov-action@v5
      with:
        use_oidc: true
        directory: coverage-files

  test-integration:
    name: Run integration tests
    needs:
    - test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Load environment file
      uses: ./.github/actions/load-env

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version-file: pyproject.toml

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install command runner
      run: uv tool install rust-just

    - name: Install testing dependencies
      run: just env-sync test

    - name: Run doctests
      run: just test-doc

    - name: Run type checker compatibility tests
      run: just test-typing

  build-wheels:
    name: Build wheels on ${{ matrix.os }} for ${{ matrix.archs }}
    needs:
    - test
    - validate
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix: &build-matrix
        include:
        - os: ubuntu-24.04-arm
          archs: aarch64
        - os: ubuntu-latest
          archs: x86_64
        - os: macos-latest
          archs: arm64
        - os: macos-15-intel
          archs: x86_64
        # - os: windows-11-arm
        #   archs: ARM64
        - os: windows-latest
          archs: AMD64

    env:
      CIBW_SKIP: "${{ github.event_name != 'release' && '*-musllinux_*' || '' }}"

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Download source distribution
      uses: actions/download-artifact@v6
      with:
        name: artifact-sdist
        path: dist

    # TODO: Remove this once the action supports specifying extras, see:
    # https://github.com/pypa/cibuildwheel/pull/2630
    - name: Install uv
      if: runner.os != 'Linux'
      uses: astral-sh/setup-uv@v7

    - name: Build & Test Wheels
      uses: pypa/cibuildwheel@v3.2.1
      with:
        package-dir: dist/${{ needs.validate.outputs.sdist-name }}
      env:
        CIBW_ARCHS: "${{ matrix.archs }}"

    - name: Upload artifact
      uses: actions/upload-artifact@v5
      with:
        name: artifact-wheels-${{ matrix.os }}-${{ matrix.archs }}
        path: wheelhouse/*.whl
        if-no-files-found: error

  profile:
    name: Run profiling tests on ${{ matrix.os }}
    needs:
    - build-wheels
    runs-on: "${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix: *build-matrix

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Load environment file
      uses: ./.github/actions/load-env

    - name: Install Python
      uses: actions/setup-python@v6
      with:
        python-version-file: pyproject.toml

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: Install command runner
      run: uv tool install rust-just

    - name: Save path to profiling environment
      id: env-path
      run: echo "path=$(just env-path prof)" >> $GITHUB_OUTPUT
      shell: bash

    - name: Install profiling dependencies
      env:
        UV_PROJECT_ENVIRONMENT: "${{ steps.env-path.outputs.path }}"
      run: uv sync --only-group prof

    - name: Download artifacts
      uses: actions/download-artifact@v6
      with:
        name: artifact-wheels-${{ matrix.os }}-${{ matrix.archs }}
        path: dist
        merge-multiple: true

    - name: Install project from artifact
      env:
        VIRTUAL_ENV: "${{ steps.env-path.outputs.path }}"
      run: uv pip install --no-index --find-links dist msgspec

    # TODO: set up infra to commit results after each merge and then make tests compare
    - name: Run profiling tests
      run: just test-perf all --calibrate --rounds 10000

  upload-pypi:
    name: Upload artifacts to PyPI
    if: github.event_name == 'release' && github.event.action == 'published'
    needs:
    - validate
    - build-wheels
    runs-on: ubuntu-latest
    permissions:
      id-token: write

    steps:
    - uses: actions/download-artifact@v6
      with:
        pattern: artifact-*
        merge-multiple: true
        path: dist

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
